* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__hero {
  width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  background-image: url("../assets/bg-1.png");
  background-size: cover;
  color: white;
}

.main__hero h1 {
  font-size: 48px;
}

.main__hero h2 {
  color: #ffffff;
  opacity: 70%;
  font-size: 24px;
}

.main__main {
  width: 1200px;
  height: 700px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main__main p {
  width: 983px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.main__main h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 48px;
  color: #666666;
}

.main__main button {
  margin-top: 21px;
  background: #55c2d8;
  border-radius: 18px;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.main__main-h {
  width: 700px;
  color: #464547;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: -100px;
}

.learn__more {
  background-image: url("../assets/bg-2.png");
  text-align: center;
  margin-top: -100px;
  width: 1200px;
  height: 666px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learn__more h2 {
  margin-top: -120px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.learn__more button {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 100%;
  border: none;
}

.play__logo {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.learn__more h3 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #ffff;
}

footer {
  width: 1200px;
  height: 170px;
  background-color: #464547;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 140px;
}
footer img {
  height: 20px;
  width: 20px;
}
.project {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 21px;
  margin-bottom: 15px;
}

.project p {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff66;
  display: flex;
  flex-direction: column;
}

.address a {
  color: inherit;
  text-decoration: none;
}
